@require '../../../assets/styles/config.styl'

.el-row
  margin-top: 10vh
  margin-bottom: 10vh

.el-col
  padding: 20px

span
  text-align: left

span a
  display block
  font-size: 17px
  height: 36px

.icon
  display block
  text-align: left
  margin-bottom: 12px
  &:before
    display inline-block
    content: ''
    background-image: url('../../../assets/elements/ic_picture_as_pdf.svg')
    background-size: 36px 36px;
    height: 36px;
    width: 36px;
