@require '../../../assets/styles/config.styl'

.el-main
  height: 40vh
  overflow="hidden"

.el-row
  width 100%
  display: flex
  align-items: center
  justify-content: center

.bgImg
  height 60vh
  background-image: url('../../../assets/elements/bg-reply.png')
  background-position: center; 

.el-col
  background: transparent
  color: #fff
  margin-top: 10vh

h2
  color: white
  &:before, &:after
    background-image: url('../../../assets/elements/relief_w.svg')

h3
  margin-top: -20px
  text-align: center
  &:before
    display block
    content: ''
    background-image: url('../../../assets/elements/quote.svg')
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    opacity 0.3
    margin-bottom: -40px
  &:after
    display block
    content: ''
    background-image: url('../../../assets/elements/quote.svg')
    transform: rotate(180deg)
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    opacity 0.3
    right 0
    margin: -40px 0px 20px auto

p
  margin-top: -40px
  text-align: center

.el-button
  margin-top: 20px
  