@require '../../../assets/styles/config.styl'

.topRow
  padding: 60px 0
  margin-bottom: 2vh
  background:linear-gradient(180deg, rgba(39, 56, 69, 0.7) 0%, rgba(85, 91, 110, 0.7) 100%), url('../../../assets/elements/bg_serviceOne.jpg')
  background-blend-mode: multiply, normal;

.el-col
  padding: 20px

.topText
  color: white

span
  text-align: left

span a
  display block
  font-size: 17px
  height: 36px

