@require '../../../assets/styles/config.styl'
@require '../../../assets/styles/reset.styl'


#topNav
  background-color: $colors.primary

.el-header
  z-index: 3
  position: fixed
  width 100%

.ic
  display: inline-block
  height 36px
  width: 36px
  background no-repeat center url(../../../assets/elements/burger.svg)
  background-size contain
  margin-top: 5px

.Logo
  display: inline-block
  width: 210px
  height 40px
  background no-repeat center url(../../../assets/elements/NewFullLogo.svg)
  background-size contain
  margin-left 16px

.el-submenu a, .el-menu-item a
  color: white
  font-style: normal
  font-weight: 400;
  font-size: 20px
  letter-spacing: 0.03em
  text-transform: none
  text-decoration: none
  padding: 10px

.el-menu-demo
  width: 90vw
  margin: 0 auto
  display: flex
  justify-content: space-between

.links a
  color: white
  font-family: $fonts.plain
  line-height: 19px;
  font-size: 13px;
  text-decoration-line: underline;