@require '../../../assets/styles/config.styl'

.content
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  margin-bottom: 10vh

.doctor
  background-color: white
  border-radius: 4px
  margin: 20px
  overflow hidden
  height: 50vh
  position relative

.doctor > img
  object-fit: cover
  padding-top: 50px
  padding-left: 30px
  height: 100%

.textBlock
  position: absolute
  bottom: 0
  background: #273845;
  opacity: 0.9
  p
    padding-bottom: 40px

.textBlock h3, p
  color: #fff;
  padding-left: 20px
  padding-right: 20px

.doctor:hover
  transform: translateY(20);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);