@require '../../../assets/styles/reset.styl'
@require '../../../assets/styles/config.styl'

.absolute
    position: absolute
    top: 20vh
    right: 20vh
    z-index 2
    background-color white
    border-radius: 4px
    box-shadow: 0px 15px 40px rgba(39, 56, 69, 0.2);
    padding: 20px

h4
    font-size: 1em
    text-align: left

a
    display inline
    text-align: left
