@require '../../../assets/styles/config.styl'

.block {
  height: 75vh
  display: flex
  align-items: center
  justify-content: center
}

.rightPhoto
  overflow: hidden
  height: 50vh
  display flex
  justify-content: center

.textBlock
  padding-left: 20px

img
  height: 100%

h3
  color: $colors.primary

.doctor
  background-color: #F1F7F7
  border-radius: 4px


.el-carousel__item
  background-color: white
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);