@require '../../../assets/styles/config.styl'

.topRow
  padding-top: 60px
  margin-bottom: 2vh

.el-col
  padding: 20px

span
  text-align: left

span a
  display block
  font-size: 17px
  height: 36px

