@require '../../../assets/styles/config.styl'

.el-main
  height: 40vh
  colors: $colors.primary

.el-row
  width 100%
  height 40vh
  padding 0

.el-col
  padding: 0 30px 30px 30px
  border-radius: 4px;
  position: absolute
  margin-top: 50vh;
  margin-bottom: auto
  background-color: $colors.white
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);

h2
  color: $colors.primary
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 36px;
  text-align: left

p
  font-family: $fonts.plain
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  text-align: left
  margin-bottom: 20px

span 
  font-family: $fonts.heading
  font-weight: bold;
  font-size: 17px;

.Masthead__image > img
  max-width 100%
  height: auto