@require '../../../assets/styles/config.styl'

#mainSlider
  margin-top: 100px

h1, p
  color: white

// carousel

.el-carousel {
  height 100%
}

.el-carousel__item {
  color: #475669;
  font-size: 14px;
  background: no-repeat center url(../../../assets/elements/bg_grad.png)
  background-size cover
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

// text block

.banner
  grid-column-start: 3
  grid-column-end: 4
  background-color: rgba(39, 56, 69, 0.9)
  display: flex
  position relative
  place-self: center
  flex-direction: column
  padding: 20px
  border-radius: 4px
  @media screen and (max-width: 1480px)
    grid-column-start: 2
    grid-column-end: 7
    margin-top: 40%
    h1
      font-size: 40px
  @media (max-width: 1024px)
    grid-column-start: 1
    grid-column-end: 8
    place-self: end stretch
    border-radius: 0
    h1
      font-size: 24px



.plainText
  font-family: $fonts.plain
  text-align: left
  line-height: 30px;
  font-size: 24px;
  margin-bottom: 36px
  @media (max-width: 1024px)
    font-size: 20px;
    line-height: 24px;

.primary
  @media (min-width: 1024px)
    position: absolute
    bottom: -24px
  @media (max-width: 1024px)
    place-self: start
    margin-bottom: 20px
