@require '../../../assets/styles/config.styl'

.el-row
  width 100%
  padding 0

.el-main
  width 100%
  background-color #273845
  color #fff
  height: 75vh
  
.el-carousel {
  height 100%
}

.bannerText
  margin-top: 150px

.plain
  display: inline-block
  background-color: $colors.primary
  border-radius: 4px

.el-button
  margin-top 36px

h1, p
  color: white

.el-carousel__item {
  color: #475669;
  font-size: 14px;
  background: no-repeat center url(../../../assets/elements/DSC_8004.jpg)
  background-size cover
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
