@require '../../../assets/styles/config.styl'

.el-row
  width 100%
  padding 0

.el-main
  width 100vw
  background-color #273845
  color #fff
  height: 75vh
  
.el-carousel {
  height 100%
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 100%;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
