@require '../../../assets/styles/config.styl'

.top
  margin-top: 10vh
  margin-bottom: 10vh

.el-col
  padding: 20px

.bill p
  text-align: right

.el-collapse-item
  text-align: center
  font-family: $fonts.heading
  font-size: 16px;
  &:hover
    color: $colors.secondary
