@require '../../../assets/styles/config.styl'

p, a
  color: white

#footer
  position relative

.primary
  grid-column-start: 3
  grid-column-end: 9
  place-self: center;
  position: absolute
  top: -24px

#footer
  background: linear-gradient(0deg, rgba(39, 56, 69, 0.85), rgba(39, 56, 69, 0.85)), url('../../../assets/elements/DSC_8045.jpg');
  background-size: cover

.expand
  grid-row-start: 2
  grid-column-start: 3
  grid-column-end: 9
  padding: 10px
  margin-top: 40px
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr

.submenu
  text-align: left
  display: block
  color: white
  font-family: $fonts.heading
  font-weight: bold;
  font-size: 20px;
  padding: 12px
  text-decoration: none
  &:last-child
    margin-bottom: 0px

.links
  color: white
  display: block
  font-family: $fonts.plain
  font-weight: normal;
  font-size: 18px;
  padding: 4px 0
  line-height: 1.2
  text-align: left
  text-decoration: none
  opacity: 0.5
  &:first-child
    padding-top: 20px
  &:hover
    opacity: 1
    color: white

.cons
  grid-row-start: 3
  margin: 20px 0
  padding: 10px
  font-size: 18px;
  letter-spacing: 8.6px;
  background-color: $colors.primary
  p
    text-align: center

.copyrights
  padding: 0 20px
  grid-row-start: 4
  display: flex
  justify-content: space-between