@require '../../../assets/styles/config.styl'
@require '../../../assets/styles/reset.styl'

a
  color: $colors.primary
  font-family: $fonts.plain
  line-height: 19px;
  font-size: 13px;
  text-decoration-line: underline;

.el-col
  text-align: left

h2
  font-family: $fonts.heading
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  text-align: left