@require '../../../assets/styles/config.styl'

h3
  font-size: 15px
  margin: 20px 0px
  color: white

.el-col
  text-align: left

.el-footer
  background: linear-gradient(0deg, #273845, #273845), url('../../../assets/elements/footer-bg.png');
  background-blend-mode: multiply, normal;

.block
  padding: 50px 10% 50px 10%
  width: 90vw

a
  color: white
  line-height: 25px;
  display flex
  opacity 0.3
  &:hover
    opacity: 1
    color: $colors.secondary

p
  color: white
  
.cons
  padding: 10px 0
  font-size: 18px;
  letter-spacing: 8.6px;
  text-align: center
  background-color: $colors.primary

.copyrights
  padding: 10px 10%
  display flex
  justify-content: space-between

.inlineLink
  display inline

.footerButton
  display inline-block
  margin-top: -36px