@require '../../../assets/styles/config.styl'

.top
  margin-top: 10vh
  margin-bottom: 5vh
  grid-column-start: 3
  grid-column-end: 5

.el-collapse-item
  text-align: left
  font-family: $fonts.heading
  font-size: 16px;
  &:hover
    color: $colors.secondary

.content
  grid-column-start: 3
  grid-column-end: 6
  margin-bottom: 15vh

// .el-collapse-item__header
//   font-family: $fonts.heading
//   font-style: normal;
//   font-weight: 900;
//   line-height: normal;
//   font-size: 30px;
//   text-align: left
//   margin: 1em 0 0.5em 0