$colors = {
  primary: #273845,
  secondary: #89B0AE,
  third: #555B6E,
  accident: #A2F42C,
}

$breakpoints = {
  desktop: 1289px,
  tablet: 639px,
  phone: 320px
}

$zIndex = {
  static: 10,
  fixed: 20,
  modal: 30
}
