@import url('https://fonts.googleapis.com/css?family=Alegreya:400,900|IBM+Plex+Serif:700&subset=cyrillic');

$fonts = {
  heading: 'IBM Plex Serif',
  plain: 'Alegreya',
}

$colors = {
  primary: #273845,
  secondary: #89B0AE,
  third: #555B6E,
  accident: #A2F42C,
  white: #ffffff
}

$breakpoints = {
  desktop: 1289px,
  tablet: 639px,
  phone: 320px
}

$zIndex = {
  static: 10,
  fixed: 20,
  modal: 30
}

h1
  font-family: $fonts.heading
  color: $colors.primary
  text-align: left
  margin 30px 30px 20px 30px
  font-weight: 700;
  font-size: 54px;

h2
  font-family: $fonts.heading
  color: $colors.primary
  font-size: 60px
  font-weight: 400
  margin: 20px 0
  &:before
    display inline-block
    content: ''
    background-image: url('../../../assets/elements/relief.svg')
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    opacity 0.5
    margin-right: 30px
  &:after
    display inline-block
    content: ''
    background-image: url('../../../assets/elements/relief.svg')
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    transform: rotate(180deg)
    opacity 0.5
    margin-left: 30px

h3
  font-family: $fonts.heading
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 30px;
  text-align: left
  margin 15px 

p
  font-family: $fonts.plain
  text-align: left
  line-height: 20px;
  font-size: 14px;

.plainText
  margin 20px 30px 40px 30px
  font-family: $fonts.plain
  text-align: left
  line-height: 30px;
  font-size: 24px;

.bgImg
  background-size: cover