@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|IBM+Plex+Serif:700&subset=cyrillic');

// global

$fonts = {
  heading: 'IBM Plex Serif',
  plain: 'Roboto Condensed',
}

$colors = {
  primary: #273845,
  secondary: #89B0AE,
  third: #555B6E,
  accident: #A2F42C
}

$breakpoints = {
  desktop: 1289px,
  tablet: 639px,
  phone: 320px
}

$zIndex = {
  static: 10,
  fixed: 20,
  modal: 30
}

// grid

.grid
  display: grid
  grid-template-columns: 130px 130px repeat(6, 1fr) 130px 130px

.content
  grid-column-start: 3
  grid-column-end: 9
  @media (min-width: 900px) and (max-width: 1200px)
    grid-column-start: 2
    grid-column-end: 7
  @media (max-width: 900px)
    grid-column-start: 1
    grid-column-end: 8

.carousel-content
  grid-column-start: 4
  grid-column-end: 8


// font: headings, links, lists, etc...

h1
  font-family: $fonts.heading
  color: $colors.primary
  text-align: left
  font-weight: 700;
  font-size: 54px;
  margin-top: 16px
  margin-bottom: 8px

h2
  font-family: $fonts.heading
  color: $colors.primary
  font-size: 60px
  font-weight: 400
  margin: 40px 0
  &:before
    display inline-block
    content: ''
    background-image: url('../../../assets/elements/relief.svg')
    background-size: contain
    height: 40px;
    width: 40px;
    opacity 0.5
    margin-right: 20px
  &:after
    display inline-block
    content: ''
    background-image: url('../../../assets/elements/relief.svg')
    background-size: contain
    height: 40px;
    width: 40px;
    transform: rotate(180deg)
    opacity 0.5
    margin-left: 20px

h3
  font-family: $fonts.heading
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 30px;
  text-align: left
  padding: 1em 0 0.5em 0
  margin: 0

h4
  font-family: $fonts.plain
  font-weight: 700
  text-align: left

a
  font-family: $fonts.plain
  line-height: 19px;
  font-size: 1em
  cursor pointer

p
  font-family: $fonts.plain
  text-align: left
  line-height: 1.4em;
  font-size: 1.2em
  margin: 0
  padding: 0.5em 0

li
  text-align: left
  font-family: $fonts.plain
  line-height: 1.4em;
  font-size: 1.2em

// buttons

.default
  position relative
  margin-top: 24px
  height 48px
  padding: 0 24px 
  background-color: transparent
  border: 1px solid $colors.secondary 
  border-radius: 24px
  font-family: $fonts.heading
  color: $colors.primary
  text-transform: uppercase
  transition: .4s ease 0s
  &:hover
    border-color: $colors.primary
    color: $colors.secondary
    transform: translateY(-4px)
    box-shadow: 0px 10px 10px rgba(39, 56, 69, 0.2);


.white
  position relative
  margin-top: 24px
  height 48px
  padding: 0 24px 
  background-color: transparent
  border: 1px solid white
  border-radius: 24px
  font-family: $fonts.heading
  color: white
  text-transform: uppercase
  transition: .4s ease 0s
  &:hover
    background-color: $colors.primary
    border: 1px solid $colors.primary
    color: $colors.secondary
    transform: translateY(-4px)
    box-shadow: 0px 10px 10px rgba(39, 56, 69, 0.2);

.primary
  position relative
  height 48px
  padding-left: 26px
  margin-right: 22px
  background-image: url('../../../assets/elements/btn-left-primary.svg')
  background-color: transparent
  background-size: cover
  border: none
  border-radius: 0px
  font-family: $fonts.heading
  color: $colors.primary
  text-transform: uppercase
  transition: .4s ease 0s
  &:after
    content: ''
    display: block
    position absolute
    background-image: url('../../../assets/elements/btn-right-primary.svg')
    background-size: cover
    height: 48px;
    width: 20px;
    top 0
    right: -20px
    transition: .4s ease 0s
  &:hover
    color: $colors.primary
    transform: translateY(4px)
    background-image: url('../../../assets/elements/btn-left-hover.svg')
    &:after
      background-image: url('../../../assets/elements/btn-right-hover.svg')

// other styles

.bgImg
  background-size: cover

.el-card
  box-shadow: 0px 15px 40px rgba(39, 56, 69, 0.2);
  border-radius: 4px;
  background-color: white