@require './config.styl'

setGrid($columns = 1, $marginX = 20px, $marginY = $marginX)
  display flex
  flex-wrap wrap
  & > *
    $columnWidth = 100% / $columns
    &:nth-child(1n)
      margin $marginY $marginX 0 0
      $lastMargin = $marginX / $columns
      width 'calc(%s - %s + %s)' % ($columnWidth $marginX $lastMargin)
      &:nth-child({$columns}n)
        margin-right 0
      for $i in (1..$columns)
        &:nth-child({$i})
          margin-top 0

setBackgroundProportion($width, $height, $placeholderColor = #fff)
  $proportion = $height / ($width * 0.01)
  width 100%
  height auto
  background $placeholderColor no-repeat center
  background-size cover
  &:before
    content ''
    display block
    height 0
    padding-bottom $proportion * 1%
