@require '../../../assets/styles/config.styl'

.el-row {
  height: 75vh
  display: flex
  align-items: center
  justify-content: center
}

.el-carousel__item h3 {
  color: #fff;
  font-size: 14px;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}